body{
    width: 95%;
    margin: 20px 0 0 0;
    line-height: 1.5;
/*    text-align: justify;*/
}
<<<<<<< HEAD


h1 {
    color: #000000;
    text-align: center;
/*
    border-color: purple;
    border-width: 5px;
    border-style: solid;
*/
/*    border: 3px solid purple;*/
}

=======
>>>>>>> fad042945a50c8d3c75cca2ca2ed656fecc8c26c
p {
    padding: 0 20px;
}

img{
    margin: 5px 20px 0 0;
<<<<<<< HEAD
}


li {
    color: #4B0082;
}


#special{
    background: rgba(0,0,100,0.4)
=======
>>>>>>> fad042945a50c8d3c75cca2ca2ed656fecc8c26c
}