body{
/*    width: 95%;*/
    margin: 5px 0 0 0;
    line-height: 1.5;
/*    text-align: justify;*/
}

h1 {
    color: #000000;
    text-align: center;
/*
    border-color: purple;
    border-width: 5px;
    border-style: solid;
*/
/*    border: 3px solid purple;*/
}


p {
/*    padding: 0 20px;*/
}

img{
    margin: 5px 5px 5px 5px;
}


li {
    color: #4B0082;
}

.pink{
    background: pink;
    border: 1px solid purple;
}
